.DS_Store
.git/
.github/
.gitignore
.gitmodules

.vscode/

patches/
pkgconfig/
scripts/
tests/

README-*
*.tgz
LICENSE-*

.vscode/
build/
ci/
docs/
tests*/
example/

.clang-*
.cmake-format
CONTRIBUTING**
README-MAINTAINER*.md

*.tgz
